<!--Partial Header File-->
<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
		<%= link_to "Data Structures", root_path, id:"logo"%>
		<nav>
			<ul class="nav navbar-nav pull-right">
				<li><%= link_to "Home", root_path%></li>
				<li><%= link_to "Hash Maps", hashmaps_path%></li>
				<li><%= link_to "Binary Trees", binarytree_path%></li>
				<li><%= link_to "Sparse Matrix", sparsematrix_path%></li>
			</ul>
		</nav>
	</div>
</header>
