<!--Partial Header File-->
<header>
	<div>
		<%= link_to "Data Structures", root_path, id:"logo"%>
		<nav>
			<ul>
				<li><%= link_to "Home", root_path%></li>
				<li><%= link_to "Hash Maps", hashmaps_path%></li>
				<li><%= link_to "Binary Trees", binarytree_path%></li>
				<li><%= link_to "Sparse Matrix", sparsematrix_path%></li>
			</ul>
		</nav>
	</div>
</header>
